*{
  margin: 0;
  padding: 0;
}
.container1{
position: absolute ;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin:0;
background-color: #2E9AFE;
}
.container1>nav:first-child{
  position: relative;
  width: 200px;
  height: 150px;
  background-color: blue;
}
.container1>nav:nth-child(2){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:auto;
  top: 0;
  right: 0;
  left: 0;
  background-color: blue;
}
.container1>nav:nth-child(3){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:auto;
  top: 0;
  right: 0;
  background-color: blue;
}
.container1>nav:nth-child(4){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
}
.container1>nav:nth-child(5){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:0 auto;
  right: 0;
  bottom: 0;
  background-color: blue;
}
.container1>nav:nth-child(6){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
}
.container1>nav:nth-child(7){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:0 auto;
  left: 0;
  bottom: 0;
  background-color: blue;
}
.container1>nav:nth-child(8){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:auto;
  top: 0;
  left:  0;
  bottom: 0;
  background-color: blue;
}
.container1>nav:nth-child(9){
  position: absolute;
  width: 200px;
  height: 150px;
  margin:auto;
  right: 0;
  top: 0;
  left:  0;
  bottom: 0;
  background-color: blue;
}
.container1>nav>div:first-child{
  position: relative;
  width: 50px;
  height: 30px;
  background-color: yellow;
}
.container1>nav>div:nth-child(2){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:auto;
  top: 0;
  right: 0;
  left: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(3){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:auto;
  top: 0;
  right: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(4){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:auto;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(5){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:0 auto;
  right: 0;
  bottom: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(6){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(7){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:0 auto;
  left: 0;
  bottom: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(8){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:auto;
  top: 0;
  left:  0;
  bottom: 0;
  background-color: yellow;
}
.container1>nav>div:nth-child(9){
  position: absolute;
  width: 50px;
  height: 30px;
  margin:auto;
  right: 0;
  top: 0;
  left:  0;
  bottom: 0;
  background-color: yellow;
}
